---
layout: page
title: Contactanos
permalink: /contactanos/
---

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>¡Contactanos!</h1>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact form start -->
<section id="contact-form">
  <div class="container">
    <div id="contact-box" class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <ul class="address-block">
            {% for sede in site.sedes %}
            <li>
              {{ sede.title | uppercase }}<br>
              <i class="fa fa-envelope-o"></i><a href="mailto:{{ sede.email }}">{{ sede.email }}</a>
              {% if sede.socialmedia.size > 0 %}
              {% for socialmedia in sede.socialmedia %}
               | <a href="https://www.{{ socialmedia[0] }}.com/{{ socialmedia[1] }}"><i class="fa fa-{{ socialmedia[0] }}"></i>{{ socialmedia[1] }}</a>
              {% endfor %}
              <!-- {% for socialmedia in sede.socialmedia %}
              {% if socialmedia.facebook %}
               | <a href="https://www.facebook.com/{{ socialmedia.facebook }}"><i class="fa fa-facebook"></i>{{ socialmedia.facebook }}</a>
              {% endif %}
              {% if socialmedia.instagram %}
              | <a href="https://instagram.com/{{ socialmedia.instagram }}"><i class="fa fa-instagram"></i>{{ socialmedia.instagram }}</a>
              {% endif %}
              {% if socialmedia.twitter %}
              | <a href="https://twitter.com/{{ socialmedia.twitter }}"><i class="fa fa-twitter"></i>{{ socialmedia.twitter }}</a>
              {% endif %}
              {% endfor %} -->
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
