---
layout: page
title: Contactanos
permalink: /contactanos/
---

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>¡Contactanos!</h1>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact form start -->
<section id="contact-form">
  <div class="container">
    <div id="contact-box" class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <ul class="address-block">
            {% for sede in site.sedes %}
            <li>
              <h2>
                {{ sede.title | uppercase }}
                {% if sede.socialmedia.size > 0 %}
                {% for socialmedia in sede.socialmedia %}
                |<a href="https://www.{{ socialmedia[0] }}.com/{{ socialmedia[1] }}" title="{{ socialmedia[0] }}"><i class="fa fa-{{ socialmedia[0] }}"></i></a>
                {% endfor %}
                {% endif %}
              </h2>
              <i class="fa fa-envelope-o"></i><a href="mailto:{{ sede.email }}"  title="Email">{{ sede.email }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
