---
layout: page
title: Doná
permalink: /dona/
---

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Sé parte del cambio</h1>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="dona">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <p>En OAJNU estamos convencidos de que la educación es la herramienta fundamental para construir una sociedad más inclusiva, democrática y promotora de derechos, y que todos tenemos algo que aportar en esta causa.</p>
        <p>Los jóvenes necesitan desarrollar su creatividad y descubrir habilidades diferentes a las que trabajan en la escuela. Nuestros proyectos contemplan todos estos aspectos, ya que confiamos en los jóvenes y los impulsamos a creer en sí mismos, a sentirse líderes de su propia vida y convertirse en los líderes que la sociedad espera.</p>
      </div>
    </div>

    <!-- SEDES -->
    <div class="row">
      <div class="col-sm-12 col-md-4 col-md-offset-4">
      </div>
    </div>
    {% if site.sedes.size > 0 %}
    <div class="row rowflex" style="display: flex; align-items: center;">
      {% for sede in site.sedes %}
      <div class="col-sm-12 col-md-6">
        <a class="donar-button" href="{{ sede.donarurl }}" target="_blank">
          <img src="/img/sedes/{{ sede.nameurl }}.png" alt="">
          {% if sede.nameurl == "acomisiondirectiva" %}
          <h4>Donar a OAJNU Argentina</h4>
          {% else %}
          <h4>Donar a Sede {{ sede.title }}</h4>
          {% endif %}
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>



<!-- Prefiero que me llamen -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <a class="btn btn-default btn-call-to-action" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdtpEFdNUvnPnYbp1fc5BsfK7nEnNpLlZh8tDyknRzwMVpRFQ/viewform?usp=sf_link" >PREFIERO QUE ME LLAMEN</a>
          <p>Si querés hacer tu consulta por correo, contactate a donantes@oajnu.org</p>
        </div>
      </div>
    </div>
  </div>
</section>
