<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <form id="newsletterform" style="display: flex; align-items: center; justify-content: center;">
              <input type="text" class="form-control" placeholder="Email">
              <button class="btn btn-default" type="submit">Suscribirme al newsletter</button>
          </form>
          <ul class="social-icons" style="margin: 20px auto;">
              <!-- {% site.sedes.comisiondirectivanacional.socialmedia[0][0] %} -->
              {% site.sedes.comisiondirectivanacional.socialmedia.facebook %}
              {% for socialmedia in site.sedes.comisiondirectivanacional.socialmedia %}
              <li>
                <a href="https://www.{{ socialmedia[0] }}.com/{{ socialmedia[1] }}" title="{{ socialmedia[0] }}"><i class="fa fa-{{ socialmedia[0] }}"></i></a>
              </li>
              {% endfor %}
          </ul>
        </div>
        <p>OAJNU &copy; Copyright 2019</p>
        <p>Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>


<!-- Js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" defer></script>
<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/js/vendor/jquery-1.10.2.min.js" defer><\/script>')</script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js" defer></script>
<script src="{{ site.baseurl }}/js/owl.carousel.min.js" defer></script>
<script src="{{ site.baseurl }}/js/plugins.js" defer></script>
<script src="{{ site.baseurl }}/js/min/waypoints.min.js" defer></script>
<script src="{{ site.baseurl }}/js/jquery.counterup.js" defer></script>

<script src="{{ site.baseurl }}/js/main.js" defer></script>
