<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
            <form id="newsletterform" style="display: flex; align-items: center; justify-content: center;">
                <input type="text" class="form-control" placeholder="Email">
                <button class="btn btn-default" type="submit">Suscribirme al newsletter</button>
            </form>
          <ul class="social-icons" style="margin: 20px auto;">
            <li>
              <a href="https://www.facebook.com/{{ site.sedes.comisiondirectivanacional.socialmedia.facebook }}" title="Facebook"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/{{ site.sedes.comisiondirectivanacional.socialmedia.twitter }}" title="Twitter"><i class="fa fa-twitter"></i></a>
            </li>
          </ul>
        </div>
        <p>OAJNU &copy; Copyright 2019</p>
        <p>Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
