<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
            <form id="newsletterform" style="display: flex; align-items: center; justify-content: center;">
                <input type="text" class="form-control" placeholder="Email">
                <button class="btn btn-default" type="submit">Suscribirme al newsletter</button>
            </form>
          {% if site.sedes.comisiondirectivanacional.socialmedia %}
          <ul class="social-icons" style="margin: 20px auto;">
            {% for socialmedia in site.sedes.comisiondirectivanacional.socialmedia %}
            {% if socialmedia.facebook %}
            <li>
              <a href="https://www.facebook.com/{{ socialmedia.facebook }}"><i class="fa fa-facebook"></i></a>
            </li>
            {% endif %}
            {% if socialmedia.twitter %}
            <li>
              <a href="https://twitter.com/{{ socialmedia.twitter }}"><i class="fa fa-twitter"></i></a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <p>OAJNU &copy; Copyright 2018</p>
        <p>Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
