---
layout: page
---

<!-- {% assign pagesede = page.title | remove: " " | downcase %} -->
<!-- {% assign sedee = site.data.sedes.[i] | where: i, pagesede %} -->

<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>{{ page.name }}</h1>
                    <p>{{ page.title }} {{ page.id }} {{ page.email }}</p>
                    <div class="social-icons" style="margin: 20px auto;">
                      {% for socialmedia in page.socialmedia %}
                      {% if socialmedia.facebook %}
                      <a href="https://www.facebook.com/{{ socialmedia.facebook }}"><i class="fa fa-facebook"></i></a>
                      {% endif %}
                      {% if socialmedia.instagram %}
                      <a href="https://instagram.com/{{ socialmedia.instagram }}"><i class="fa fa-instagram"></i></a>
                      {% endif %}
                      {% if socialmedia.twitter %}
                      <a href="https://twitter.com/{{ socialmedia.twitter }}"><i class="fa fa-twitter"></i></a>
                      {% endif %}
                      {% endfor %}
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio-work">
<div class="container">
    <div class="row">
      <div class="section-title" style="text-align: center;">
        <h2>Comité Ejecutivo</h2>
      </div>
      <div class="col-md-12">
        <div class="block">
          <div class="portfolio-contant">
            <ul id="portfolio-contant-active">
              {% for voluntario in site.data.voluntarios %}
              <p>Esto es {{ voluntario.sede }}</p>
              {% if voluntario.sede == page.title %}
              <p>Entro OK con {{ voluntario.sede }} y {{ page.title }}</p>
              <li class="mix">
                <a>
                  <img src="/img/voluntarios/2018/{{ page.title }}/{{ voluntario.nameurl }}2.jpg" alt="" onerror="this.src='/img/voluntarios/profile.jpg'">
                  <div class="overly">
                    <div class="position-center">
                      <h2>{{ voluntario.name }}</h2>
                      <!-- {% for autoridad in site.data.autoridades %}
                      {% if autoridad.id == voluntario.autoridad %}
                      <h4>{{ autoridad.name }}</h4>
                      <p>{{ autoridad.description }}</p>
                      {% endif %}
                      {% endfor %} -->
                      <h4>{{ site.data.autoridades.(voluntario.autoridad).name }}</h4>
                      <p>{{ site.data.autoridades.(voluntario.autoridad).description }}</p>
                    </div>
                  </div>
                </a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
</section>

<section id="proyectos">
  <div class="container">
    <div class="row">
      <div class="section-title rowflex">
        <h2>Nuestros proyectos</h2>
      </div>
      <div class="col-md-12">
        <div class="block">
          <div id="proyectos-logo-buenos-aires" class="owl-carousel">
            {% for proyecto in site.data.proyectos %}
            {% assign proyectossedes = proyecto.sedes | join: " " %}
            {% if proyectossedes contains page.title %}
            <div class="clients-logo-img">
              <a href="/proyectos/{{ proyecto.id }}"><img src="/img/proyectos/{{ proyecto.id }}.jpg" alt="Features"></a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="vernoticias">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Blog de OAJNU {{ page.name }}</h2>
          <a class="btn btn-default btn-call-to-action" href="/blog/porsede/#{{ page.title }}" >Ver posts</a>
        </div>
      </div>
    </div>
  </div>
</section>